*{
    margin: 0;
    padding:0;
}
body{
    min-height: 100vh;
    background-color:rgb(235, 242, 245);
    display: block;
}
nav{
    background-color:rgba(5, 20, 70, 0.76);
    box-shadow: 3px 3px 5px rgb(255, 255, 255) ; 
    height: 60px;
    width: 900px;
    margin-top: 20px; 
    display: flex;
    border-radius: 10px;
    justify-content: center;

}
nav ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-left: 30px;
}
nav li{
    height: 50px;
    box-shadow:rgba(135, 160, 241, 0.76);
}
nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:#fff;


}
nav li:first-child{
    margin-right: auto;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
h1{
    text-transform: uppercase;
    color: #2E4053;
    font-size: 50px;
    font-family:serif;
    letter-spacing: 0.1px;
    margin: 90px;
}
span{
    color:blue; 
}

#box{
    height: 400px;
    width: 30%;
    background-color:rgba(5, 20, 70, 0.76);
    border-radius: 20px;
    list-style: none;
    color: #fff;
    margin:500px;
    margin:-300px 500px;
}
#box a{
    height: 100%;
    padding:5px 20px;
    text-decoration: none;
    display:flex;
    color:#fff;
    margin: 30px 30%;
    font-size: 20px;
    text-transform: capitalize;
}
a:hover{
    background-color: blue;
    border-radius :10px;
}
div{
    display:block;
    unicode-bidi: isolate;
}
h4{
    font-size: 30px;
    text-align: center;
    height: 10%;
}